In [2]:
! pip install pymysql

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pymysql in /home/sookim06/.local/lib/python3.8/site-packages (1.0.2)

In [8]:
import pymysql
import pandas as pd

- sql 데이터 저장

In [ ]:
db_connection_str = 'mysql+pymysql://sookim06:bigdata@localhost/dsml'

In [ ]:
db_connection = create_engine(db_connection_str)

In [ ]:
conn = db_connection.connect()

In [ ]:
for code in tqdm(dic_code2name): 
    start_date = '20211201'
    end_date = '20211231'
    stock = fdr.DataReader(code, start = start_date, end = end_date)
    stock = stock.reset_index()
    stock['code'] = code
    stock = stock[['code', 'Date', 'Open', 'High', 'Low', 'Close', 'Volume', 'Change']]
    stock.to_sql(name='stock_2', con=db_connection, if_exists='append', index=False)

- sql 에서 데이터 불러오기

In [4]:
db_dsml = pymysql.connect(
    user = 'stock_user',
    port = 3306,
    password='bigdata',
    host='localhost', 
    db='stock_db',
    charset='utf8'
)

In [5]:
cursor = db_dsml.cursor()

In [6]:
sql_query = '''
SELECT 
* 
FROM stock'''

In [9]:
data = pd.read_sql(sql=sql_query, con=db_dsml)

In [10]:
data

           code       Date   Open   High    Low  Close  Volume    Change
0        000210 2017-01-02  79066  81054  78885  79699  176366  0.012629
1        000210 2017-01-03  80150  80783  78433  80060  152616  0.004530
2        000210 2017-01-04  79518  79879  78162  78524  216576 -0.019186
3        000210 2017-01-05  78433  79969  78433  78976  140319  0.005756
4        000210 2017-01-06  78975  79518  78162  78886  124240 -0.001140
...         ...        ...    ...    ...    ...    ...     ...       ...
2091706  212310 2020-12-23   4990   4990   4100   4540     272  0.031818
2091707  212310 2020-12-24   4595   4595   4005   4515     705 -0.005507
2091708  212310 2020-12-28   4985   4985   4065   4640      10  0.027685
2091709  212310 2020-12-29   4010   4590   4010   4590       3 -0.010776
2091710  212310 2020-12-30   3905   4845   3905   4050      21 -0.117647

[2091711 rows x 8 columns]